<mat-grid-list cols="4" rowHeight="100px">

<mat-grid-tile colspan="3" rowspan="1" style.background="lightblue">
<mat-form-field appearance="outline">
  <mat-label>Fatturato</mat-label>
  <input matInput [(ngModel)]="gross">
</mat-form-field>
</mat-grid-tile>
<mat-grid-tile colspan="1" rowspan="3">
  <button  mat-raised-button color="primary">Calcola</button>

</mat-grid-tile>

<mat-grid-tile colspan="3" rowspan="1">
<mat-form-field appearance="outline">
  <mat-label>Coefficiente di Redditività</mat-label>
  <input matInput [(ngModel)]="coef">
</mat-form-field>
</mat-grid-tile>
<mat-grid-tile colspan="3" rowspan="1">
  <mat-form-field appearance="outline">
    <mat-label>Tassazione Inps %</mat-label>
    <input matInput [(ngModel)]="inps">
  </mat-form-field>
  </mat-grid-tile>
<mat-grid-tile colspan="3" rowspan="1">
  <mat-radio-group class="radio-group" aria-label="Tassazione Irpef" [(ngModel)]="irpef">
    <mat-radio-button class="radio-button" *ngFor="let tax of irpefRadioButtonValues" [value]="tax.value">
      {{tax.label}}
    </mat-radio-button>
</mat-radio-group>
</mat-grid-tile>
<mat-grid-tile colspan="1" rowspan="3">
  <mat-list>
    <mat-list-item> Fatturato lordo annuo: {{gross}} </mat-list-item>
    <mat-list-item> Coefficiente di Redditività: {{coef}} </mat-list-item>
    <mat-list-item> Imponibile: {{imponibile || ""}} </mat-list-item>
    <mat-list-item> Pagato irpef: {{payedIrpef || "0"}} </mat-list-item>
    <mat-list-item> Pagato inps: {{payedInps || "0"}} </mat-list-item>
    <mat-list-item> Netto annuo: {{net() || "0"}} </mat-list-item>
   </mat-list>
  </mat-grid-tile>

<mat-grid-tile colspan="3" rowspan="1">
<mat-form-field appearance="outline">
  <mat-label>Spese detraibili anno precedente</mat-label>
  <input matInput [(ngModel)]="spese">
</mat-form-field>
</mat-grid-tile>



</mat-grid-list>
