<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Calcola il tuo netto</h5>
      
<form [formGroup]="invoice">

    <label for="total" class="form-label">Fatturato annuo: </label>
    <input class="form-control" id="total" type="text" formControlName="total">
    <label for="redditPerc" class="form-label">Coefficiente di redditività: </label>
    <input class="form-control" id="redditPerc" type="text" formControlName="redditPerc">

    <label for="inpsLastYear" class="form-label">Inps anno precedente: </label>
    <input class="form-control" id="inpsLastYear" type="text" formControlName="inpsLastYear">

    <label for="type" class="form-label">Ambito lavorativo: </label>
    <input class="form-control" id="type" type="text" formControlName="type">

</form>
<p class="card-text">Usa il tool per calcolare il tuo neto.</p>
</div>
</div>

<!--
da a dsadsadas

-->