<p>Calcolare netto da fatturato</p>


<form [formGroup]="invoice">

    <label for="total">Fatturato annuo: </label>
    <input id="total" type="text" formControlName="total"><br><br>

    <label for="redditPerc">Coefficiente di redditività: </label>
    <input id="redditPerc" type="text" formControlName="redditPerc"><br><br>

    <label for="inpsLastYear">Inps anno precedente: </label>
    <input id="inpsLastYear" type="text" formControlName="inpsLastYear"><br><br>

    <label for="type">Ambito lavorativo: </label>
    <input id="type" type="text" formControlName="type"><br><br>


</form>


<!--
da a dsadsadas

-->